@import "../mixins";
@import "../classes";
@import "../variables";

.ui-popup-container>* {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.loser {
  background-color: $loser-background;

  & > * {
    opacity: .5;
  }
}

.winner {}

.bracket-view {

  & .bracket-content {
      margin: 0 5.4em;
  }

  & .bracket-full-wrapper {
      visibility: visible;
      display: block;
      overflow-y: auto;
      overflow-x: auto;
      -ms-overflow-style: none;
      -ms-scroll-chaining: none;
      -webkit-overflow-scrolling: touch;
      touch-action: manipulation;
      -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
      scrollbar-width: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &::-webkit-scrollbar {
          display: none
      }

      & .matchup-container {
          @include prefix((
            box-shadow: 0 .1rem .2rem rgba(0,0,0,.19999999999999996)
          ), webkit moz);
          @extend .display-flex;
          background-color: #fff;
          max-width: 15.2em;
          border-radius: .6rem;
          border-color: #d8d8d8;
          position: relative;
          pointer-events: none;

          &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: calc(100% - .05px);
              height: 100%;
              -webkit-transition: all .4s ease-in;
              transition: all .4s ease-in;
              -webkit-animation: fadeOut 2.64s ease-out infinite;
              animation: fadeOut 2.64s ease-out infinite;
              border: .05em solid #e41e2b;
              border-radius: inherit
          }

          & .matchup-teams {
            @include prefix((flex-direction: column), ms)
            @extend .display-flex;
            @extend .flx1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-color: inherit;
            height: calc(8em - 16px);
            color: #000;

            & .team-row {
                @include prefix((transition: background-color .2s ease-in-out), webkit)
                @extend .display-flex;
                cursor: default;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 .5em 0 1em;
                height: calc(4em - 8px);
                border-top-left-radius: calc(.6rem - 1px);
                border-top-right-radius: calc(.6rem - 1px);

                &:not(:first-child) {
                  border-top-color: inherit;
                  border-top-width: .05em;
                  border-top-style: solid;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                  border-bottom-left-radius: calc(.6rem - 1px);
                  border-bottom-right-radius: calc(.6rem - 1px)
                }

                & .team-picked {
                  position: relative;
                  display: inline-block;
                  vertical-align: middle;
                }

                & .text {
                  @extend .flx1;
                  font-size: 1.4em;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }

                &.loser {
                  @include transition(.28s);
                  cursor: pointer;
                  pointer-events: auto;
                  background-color: $loser-background;

                  &:hover {
                    background-color: $loser-background-hover;
                  }
                }

                &.solo {
                  height: 100%;
                }

                &:not(.loser) { // winner and in progress
                  @include transition(.28s);
                  cursor: pointer;
                  pointer-events: auto;
                  background-color: $winner-background;

                  &:hover {
                    background-color: $winner-background-hover;
                  }
                }
            }
          }
      }

      & .v2-bracket {
        position: relative!important;
        height: 140em!important;
        overflow: visible!important;
        display: block;
        margin: auto;
        min-width: 136em;
        font-size: 10px;
        width: 136em;

        & .bracket-region {
          @extend .display-flex;
          height: auto !important;
          position: absolute;
          top: 0;
          padding-top: 5em;

          &:nth-child(odd) .region-name {
              left: 0;
          }

          & .region-name {
              height: 5em;
              top: 3.33333em;
              position: absolute;
              padding: 0 .5em;
              pointer-events: none;
              background-color: rgba(255, 255, 255, 0);
          }

          & .bracket-round {
              width: calc(15.2em + 16px);

              &:first-child .single {
                margin-top: 5.7em;
              }

              & .group {
                @extend .display-flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;

                &:not(:first-child):not(.single) {
                  margin-top: 2em;
                }

                & .v2-matchup {
                  display: block;
                  text-decoration: none;
                  margin-top: 0;
                  z-index: 0;

                  &:not(.live) .matchup-container{
                    cursor: default;
                    overflow: hidden;

                    &::after {
                      -webkit-animation: none;
                      animation: none;
                      opacity: 0;
                    }
                  }

                  &:not(:first-child) {
                      margin-top: 1em;
                  }
                }

                & .col {
                  @extend .flx1;
                  max-width: 15.2em
                }

                & .connector {
                    position: relative;
                    width: 1.1em;
                    border-width: .05em;
                    border-style: solid;
                    border-left-width: 0;
                    color: $connector-color;
                    margin-top: 3.2em;
                    margin-bottom: calc(3.1em); /* + .5px */

                    &::before, &::after {
                      content: "";
                      background-color: currentColor;
                      position: absolute;
                      top: 0;
                      right: -.6em;
                      bottom: 0;
                      margin: auto;
                      width: .6em;
                      height: .1em
                    }

                    &::before {
                      display: none;
                      right: auto;
                      left: -.6em
                    }
                }
              }

              &:nth-child(2) {
                margin-top: 3.7em;

                & .group:not(:first-child), & .v2-matchup:not(:first-child) {
                  margin-top: 9.4em;
                }
              }

              &:nth-child(3) {
                margin-top: 11.6em;
                margin-left: -8em;

                & .group:not(:first-child) {
                    margin-top: 25.2em;
                }

                & .v2-matchup:not(:first-child) {
                    margin-top: 25.2em;
                }
              }

              &:nth-child(4) {
                  margin-top: 27.4em;
                  margin-left: -6.8em;

                  & .group:not(:first-child) {
                    margin-top: 56.6em;
                  }

                  & .v2-matchup:not(:first-child) {
                     margin-top: 56.6em;
                 }
              }

              &:nth-child(5) {
                margin-top: 58.9em;
                margin-left: -6.8em;

                & .v2-matchup:not(:first-child) {
                  margin-top: 123em;
                }

                & .group:not(:first-child), & .v2-matchup:not(:first-child) {
                  margin-top: 119.62em;
                }
              }

              &:nth-child(6) {
                margin-top: 121.9em;
                margin-left: -6.8em;

                & .group:not(:first-child), & .v2-matchup:not(:first-child) {
                  margin-top: 119.62em;
                }

                & .v2-matchup:not(:first-child) {
                  margin-top: 245.6em;
                }
              }

              &:nth-child(7) {
                margin-top: 247.9em;
                /* margin-left: -6.8em; */
              }
          }
        }
      }
  }
}


/* Dark Mode */
// body {
//   background-color: #222222;
// }
//
// a * {
//   color: #8db2e5;
//   background-color: #3d3c3c !important;
// }
//
// .matchup-container {
//   border-color: rgb(100,100,100);
// }
//
// .connector, .connector::after, .connector::before {
//   color: rgb(100,100,100);
//   border-color: rgb(100,100,100);
// }
//
// .region-name {
//   color: #fff;
// }
