@import "../mixins";

.flex-column {
  display: flex;
  flex-direction: column;
}

.team-label-container {
  width: 50%;
  min-width: 150px;

  & > * {
    display: inline-block;
  }
}

input[type=text] {
  @include transition(.28s);
  padding: 1.5rem;
  border-radius: 50;
  border: none;
  width: 50%;
  min-width: 150px;
  outline: none;
  background-color: #fff;

  &:focus {
    @include prefix((
      box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.25)
    ), webkit moz);

    border: 1px solid #ccc;
  }

  &:not(:focus):hover {
    background: #eee;
  }
}

label {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: Geogrotesque,Geo Grotesque,GeoGrotesque,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
  color: #979797;
}

.button {
  @include transition(.28s);
  margin: 0;
  /* border-radius: 100px; */
  border: none;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;

  &:first-of-type {
    margin-left: 15px;
    border-right: 1px solid #eee;
  }

  &:not(:last-of-type) {
    border-right: 1px solid #eee;
  }

  &::after {
    content: "";
    background: red;
    height: 100px;
    width: 100px;
  }

  &-positive {
    &:active {
      background-color: #729f72;
    }

    &:hover:not(:active) {
      background-color: #90c690;
    }
  }

  &-negative {
    &:active {
      background-color: #c34141;
    }
    &:hover:not(:active) {
      background-color: #f19a9a;
    }
  }

  &-preview {
    width: auto;
  }
}
